		#box-1,#box-2,#box-3,#box-4{
			width:150px;
			height:150px;
			padding:50px;
			border: 1px solid purple;
			background-color: gray;
			margin: 0 auto;
			color:white;
			font-weight: bold;
		float: left;
		}



		#box-2{
			overflow-y:auto;
		}